@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Order

<h4>Edit this Order: @Html.DisplayFor(m => m.OrderContent)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.OrderId)

  <p>Order Content: @Html.TextBoxFor(model => model.OrderContent)</p>
  <p>Order Amount: @Html.TextBoxFor(model => model.OrderAmount)</p>
  <p>Order Description: @Html.TextBoxFor(model => model.OrderDescription)</p>
 
  <input type="submit" value="Save Changes" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to orders","Index")<p>